* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f5f5f5;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #0d2137;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 120px;
  height: auto;
}

.icone-logo {
  font-size: 40px;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 15px 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

nav ul li.active,
nav ul li:hover {
  background: #163764;
  border-radius: 8px;
  opacity: 1;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #434ff0;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #7f7ff5, #b388eb);
  border-radius: 50%;
}

.user-info p {
  margin: 0;
}

.nome {
  font-weight: bold;
}

.cargo {
  font-size: 0.85rem;
  opacity: 0.8;
}

.logout {
  margin-left: auto;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}
