* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.fundo {
  background: url() no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-login {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 40px 50px;
  width: 360px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

.icone-logo {
  width: 40px;
  height: 40px;
}

.nome-logo {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.rotulo {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.campo-texto {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.link-cadastro {
  display: block;
  text-align: right;
  font-size: 13px;
  color: #444;
  text-decoration: none;
  margin-bottom: 25px;
}

.link-cadastro:hover {
  text-decoration: underline;
}

.botao-entrar {
  width: 100%;
  padding: 10px;
  background-color: #a3c8e2;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.botao-entrar:hover {
  background-color: #8eb7d4;
}

a {
  text-decoration: none;
  color: white;
}
